<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yqman.evan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".EvanApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ZiRoomActivity"/>
        <activity android:name=".activity.FeedBackActivity"/>
        <activity android:name=".activity.DatabaseActivity"/>
        <activity android:name=".activity.StorageActivity"/>
        <activity android:name=".activity.BannerActivity"/>
        <activity android:name=".activity.PermissionActivity"
                  android:theme="@style/Evan.Theme.NoTitleBar.Translucent"/>
        <provider
                android:name=".cloudfile.db.CloudFileProvider"
                android:authorities="com.yqman.cloudfile"
                android:exported="false"/>

        <service android:name=".EvanService"/>
    </application>

</manifest>