<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yqman.peanut">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name="com.yqman.peanut.EvanApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Evan.Theme">
        <activity android:name="com.yqman.peanut.Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.yqman.peanut.MainActivity"
                  android:exported="false"/>
        <activity android:name="com.yqman.peanut.util.ImagePreviewActivity"
                  android:exported="false"/>
        <provider
                android:name="com.yqman.cloudfile.db.CloudFileProvider"
                android:authorities="com.yqman.cloudfile"
                android:exported="false"/>

        <service android:name="com.yqman.peanut.EvanService"/>
    </application>

</manifest>